@import "styles/utils";

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  @include media(">desktop") {
    flex-direction: row;
    justify-content: center;
    grid-gap: 125px;
  }

  &::before {
    position: absolute;
    top: -509px;
    left: -322px;
    content: "";
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    width: 510px;
    height: 1018px;
    border-radius: 255px;
    z-index: -1;

    @include media(">desktop") {
      left: -90px;
      top: -318px;
      min-width: 210px;
      min-height: 618px;
      width: 35.5vw;
      height: 127.5vh;
      border-radius: 255vw;
    }
  }

  &::after {
    position: absolute;
    bottom: -510px;
    right: -325px;
    content: "";
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    opacity: 0.03;
    width: 510px;
    height: 1018px;
    border-radius: 255px;
    z-index: -1;

    @include media(">desktop") {
      bottom: -337px;
      right: -135px;
      min-width: 210px;
      min-height: 618px;
      width: 35.5vw;
      height: 127.5vh;
      border-radius: 255vw;
    }
  }

  .content {
    max-width: 445px;
    text-align: center;

    @include media(">desktop") {
      text-align: left;
    }
  }

  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #3E2753;
    margin-top: 64px;
    margin-bottom: 24px;

    @include media(">desktop") {
      margin-top: 0;
    }
  }

  .description {
    font-size: 16px;
    line-height: 28px;
    color: #A39DA9;
  }
}
