@import "styles/utils";

.main {
  position: relative;
  overflow: hidden;
  padding: 64px 32px;

  @include media(">desktop") {
    padding: 0;
  }
}

.hidden {
  position: absolute;
  top: -9999px;
}
